{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Student Management System{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'student/style.css' %}">
</head>

<body>

    <nav class="navbar">
        <div class="nav-container">

            <a href="{% url 'home' %}" class="logo">
                Student Management
            </a>
    <a href="{% url 'home' %}">Home</a>

    <a href="{% url 'add_student' %}">Add Student</a>

    {% if user.is_authenticated %}

        <span class="welcome">Welcome, {{ user.username }}</span>

  <form method="POST" action="{% url 'logout' %}" class="logout-form">
    {% csrf_token %}
    <button type="submit" class="logout-btn">Logout</button>
</form>

    {% else %}

        <a href="{% url 'login' %}">Login</a>

    {% endif %}

</div>
    </nav>

    <hr>
{% if messages %}

    <div class="messages">

        {% for message in messages %}

            <div class="message">
                {{ message }}
            </div>

        {% endfor %}

    </div>

{% endif %}
    {% block content %}
    {% endblock %}

</body>
</html>